<h1><%= @project.name %></h1>

<div class='links'>
<% if @project.url %>
	<%= link_to "Hosted project", @project.url %> | 
<% end %>

<% if @project.git_url %>
	<%= link_to "GitHub Repository", @project.git_url %>
<% end %>
</div>

<p><%= @project.description %><p>

<div id='codemirror'></div>

<script type='text/javascript'>
	const codemirrorSnippet = `<%= @project.snippet %>`; // must be template literal
	const codemirrorLang = "<%= @project.lang %>";
</script>
