<!DOCTYPE html>
<html lang='en'>
  <head>
    <title>AJ.dev</title>
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <meta name='description' content='Aspen James Developer Portfolio'>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
		<%= stylesheet_link_tag    "#{params[:controller]}/#{params[:action]}"\
		if PortfolioSiteRails::Application.assets.find_asset("#{params[:controller]}/#{params[:action]}.css") %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <%= javascript_include_tag 'application', :cache => true, :async => true %>
		<%= javascript_include_tag "#{params[:controller]}/#{params[:action]}", :cache => true, :async => true\
		if PortfolioSiteRails::Application.assets.find_asset("#{params[:controller]}/#{params[:action]}.js") %>
  </head>

  <body>
    <nav>
      <div id='navbar'>
        <img src='https://14079d9dd99737967afe.s3-us-west-2.amazonaws.com/headshot2.jpg' alt='profile'>
        <a href='/'
           class=<%= 'active' if params[:action] == 'about' %>>
          About
        </a>
        <a href='mailto:aspenjames@tqca.org'>Email</a>
        <a href='https://dev.to/aspenjames' target='_blank' rel='noopener noreferrer'>Blog</a>
        <a href='/resume'
           class=<%= 'active' if params[:action] == 'resume' %>>Resume</a>
      </div>
      <a href='javascript:void(0);' id='hamburger-icon' onclick='toggleMenu()' aria-label='Hamburger Menu'>
        <i id='icon' class='fa fa-bars'></i>
      </a>
    </nav>
		<main class='content'>
			<%= yield %>
		</main>
  </body>

	<script type='text/javascript'>
		const nav = document.querySelector('#navbar')
		const i = document.querySelector('#icon')
		const content = document.querySelector('main.content')

		function toggleMenu() {
			if (nav.style.visibility === 'visible') {
				nav.style.visibility = 'hidden';
				nav.style.height = '25px';
				nav.style.borderBottom = '';
				content.style.opacity = '1';
				setClass(i, 'fa fa-bars');
			} else {
				nav.style.visibility = 'visible';
				nav.style.height = 'auto';
				nav.style.borderBottom = '1px outset';
				content.style.opacity = '0.25';
				setClass(i, 'fa fa-times');
			}
		}

		function setClass(elem, klassList) {
			elem.classList = [];
			klassList.split(' ').forEach(c => elem.classList.add(c));
		}
	</script>
</html>
